.cartItem-Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .cartItem-image-box{
    width: 15%;
    text-align: center;
    height:120px;
   }
   .cartItem-about{
    height: 100%;
   }
   .cartItem-title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .cartItem-subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
   }
   .cartItem-prices{
    height: 100%;
    text-align: right;
   }
   .cartItem-amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }